- return unless can_import_members?

.js-invite-members-modal{ data: { is_project: 'true',
  access_levels: ProjectMember.access_level_roles.to_json,
  help_link: help_page_url('user/permissions') }.merge(common_invite_modal_dataset(project)).merge(users_filter_data(project.group)) }
